/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

.body{
  font-family: "San Francisco";
  font-weight: 600;
  font-size:22px;
  margin:0;
  background-color:#344256;
}
.b-pair{
	margin:0 auto;
	width:176;
	color:#99ddff;
	font-size:22px;
}
.pair_item{
	float: left;
}
.pair_next{
	float: right;
}
.pair_name{
	text-align: center;
    width: 150px;
}
.pair_arrow{
	cursor:pointer;
	margin-top: 3px;
}
.header{
	padding: 8px 10px 8px 10px;
	background-color:#2e3a4c;
	font-size:22px;
}
.header__left-panel{
	color:#f43061;
	float:left;
	font-weight:400;
}
.header__red-line{
	border: 2px solid #f43061;
	border-radius: 3px;
	width:0px;
	height:80px;
	float:left;
}
.header__left-text{
	padding: 28px 0px 0px 30px;
}
.header__right-panel{
	float:right;
}
.clear{
	clear:both;
}
.header__deposit{
	color:#51e898;
	border: 2px solid #51e898;
	border-radius:4px;
	padding:15px;
	float: right;
	margin-top: 12px;
	background: rgba(81, 232, 152, 0.21);
}
.header__deposit:hover, .header__deposit:focus {
	background:#51e898;
	color:#2e3a4c;
	cursor:pointer;
}
.header__image{
	float: left;
	cursor:pointer;
    padding: 27px 20px 0px 0px;
}
.header_plus{
	font-weight:600;
	font-size:120%;
}
#main{
	background-color:#344256
}